.photoDiv{
  min-height: 20vh;
  background: forestgreen;
  flex-direction: column;
  border-top-style: ridge;
  border-top-width: 4px;
  border-left-style: ridge;
  border-left-width: 4px;
  border-right-style: ridge;
  border-right-width: 4px;
  background-image: linear-gradient( rgb(29, 240, 240) , rgb(2, 146, 146));
}

html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;  
  min-height: 100%;
}
.bodyDiv{
  
  display: flex;
  min-height: 75vh;
  flex-direction: row;
  text-align: center;
}

.bodyDiv .row1{
  width:40vh;
  margin-top:1px;
  padding-top: 20px;
  border-top-style: ridge ;
  border-top-width: 4px;
  border-right-style: ridge ;
  border-right-width: 4px;
  border-left-style: ridge ;
  border-left-width: 4px;
  
}

.bodyDiv .row2{
  margin-top:1px;
  border-top-style: ridge ;
  border-top-width: 4px;
  flex-grow: 1;
  text-align:center;
  
}

.navigationBar{
  display:flex;
  flex-grow:1;
  border-bottom-style: ridge;
  border-width: 4px;
  height:5%;
  text-align: center;
}

.notnavigation{
  display:flex;
  height:95%;
}

.col1{
  border-right-style: ridge;
  border-width: 4px;  
  padding: 10px;
  display:flex;
  cursor: pointer;
  flex-grow:1;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}


.bodyDiv .row1 img{
  max-height: 60px;
  max-width: 60px;
  border-style: inset ;
  border-width: 1px;
}

.avatar {
  text-align: center;
  padding: 5px;
}
.avatar img{
  display: inline-block;
  max-width:130px;
  max-height:130px;
  width: auto;
  height: auto;
  cursor: pointer;  
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
}
.avatar img:hover{
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9);
  text-align: center; /* Black w/ opacity */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  font-size: 20px;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.avatar h1{
  text-shadow: salmon;
  color: antiquewhite;
  text-decoration-color: antiquewhite;
  font-size: 25px;
  font-weight: bold;
}


.template{
  display: block;
  min-height: 10vh;
  flex-direction: row;
}

.template h3{
  margin: 13px;
  font-size: 20px;
  font-weight: bold;
}

.template h4{
  margin: 13px;
  font-size: 15px;
}

.divider
{
	position: relative;
	height: 1px;
}

p{
  margin-top:50px;
  margin-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 200;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

