extends layout

block content
    .bodyHeader
        .headerDiv
            h1 ClassBin
            .input-group
                input(type="text" placeholder="pesquisa" id="inputId")
                button(onclick="pesquisa()") Pesquisar
            .avatar_profile
                a(href='http://95.179.135.81/users/profile')
                    img(src='/images/ggg.png')
                h3(href='localhost:3060/users/perfil') João Fodasse
                .headerDivider
                i.fas.fa-sign-out-alt 
        .restBody
            .bodyCol1
                .card
                    .card-image
                        img.image(src='https://lh3.googleusercontent.com/-fbf1Va1Kgc0/XGer3LXmExI/AAAAAAAAAy8/u8VLUzlhJwImETianzlwAkdaazZWAhrnQCLcBGAs/h120/nike.png')
                .card
                    .card-image
                        img.image(src='https://lh3.googleusercontent.com/-fbf1Va1Kgc0/XGer3LXmExI/AAAAAAAAAy8/u8VLUzlhJwImETianzlwAkdaazZWAhrnQCLcBGAs/h120/nike.png')
                .card
                    .card-image
                        img.image(src='https://lh3.googleusercontent.com/-fbf1Va1Kgc0/XGer3LXmExI/AAAAAAAAAy8/u8VLUzlhJwImETianzlwAkdaazZWAhrnQCLcBGAs/h120/nike.png')
                .card
                    .card-image
                        img.image(src='https://lh3.googleusercontent.com/-fbf1Va1Kgc0/XGer3LXmExI/AAAAAAAAAy8/u8VLUzlhJwImETianzlwAkdaazZWAhrnQCLcBGAs/h120/nike.png')
            .bodyCol2