doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/talystyle.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    script(src='/javascripts/navigation.js')
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  body
    block content
