extends layout

block content
    .grid-container
        .item1
            h2 Welcome to AppName!!
        .item2
            .w3-small-container.w3-border.w3-margin.w3-white
                h3 Sign Up
            form.w3-container(action="register" method="post")
                .w3-cell-row.w3-margin-top
                    label
                       b Nome
                    input.w3-input.w3-cell.w3-border(type="text" name="nome")
                .w3-cell-row.w3-margin-top
                    label
                        b Apelido
                    input.w3-input.w3-cell.w3-border(type="text" name="apelido")
                .w3-cell-row.w3-margin-top
                    label
                        b Email
                    input.w3-input.w3-cell.w3-border(type="text" name="email")  
                .w3-cell-row.w3-margin-top
                    label
                        b Password
                    input.w3-input.w3-cell.w3-border(type="password" name="password")
                input.w3-input.w3-cell.w3-border.w3-margin-top(type="submit" value="Register")
        .item3
            .w3-card-4.modal(id='display')
                h2 Login
                form(action="/users/login" method="post")
                    .w3-cell-row.w3-margin
                        input.w3-input.w3-cell.w3-border(type="text" name="email" placeholder="Email")
                    .w3-cell-row.w3-margin
                        input.w3-input.w3-cell.w3-border(type="password" name="password" placeholder="Password")
                    .w3-cell-row.w3-margin
                        input(type="submit" value="Submit")
            button.w3-button.w3-green.w3-margin(onclick="show_login()") Login
        .item4
            i Developed by a bunch of IDIOTS!