block content
  .w3-card-4
    header.w3-container.w3-blue
      h2(align="center") Registar
    form.w3-container(action="register" method="post")
      .w3-cell-row
        label.w3-cell Nomes
        input.w3-input.w3-cell.w3-border(type="text" name="nome")
      .w3-cell-row
        label.w3-cell Apelido
        input.w3-input.w3-cell.w3-border(type="text" name="apelido")
      .w3-cell-row
        label.w3-cell Email
        input.w3-input.w3-cell.w3-border(type="text" name="email")  
      .w3-cell-row
        label.w3-cell Password:
        input.w3-input.w3-cell(type="password" name="password")
      input.w3-input(type="submit" value="Enviar")
