extends layout

block content
    .photoDiv
        .avatar
            img(src='/images/default-avatar.jpg' alt="avatar")
            h2= user.name + " " + user.apelido
    .bodyDiv
        h4 ceeeeeeeeeeenaaaaaaaaas