extends layout

block content
    .maindiv
        .header
            h2 Caixa 1
            h3 Caixa 2
        .body-box
            header Header da tabela
            .row
                .col-1 Tenho Margin em cima e em baixo mas nao tenho padding para o textos
                .col-2 tenho padding para o texto
                .col-3 so tenho texto

